.swiperContainer {
  border: 3px solid orange;
  width: 100%;
  img {
    padding: 20px;
    display: none;
  }
  .swiper-button-prev {
    color: red; /* Сделать левую стрелку красной */
  }
  & .swiper-button-next {
    display: none; /* Скрыть правую стрелку */
  }
}
