@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  color: white;
  background-color: #262626;
}

a {
  @apply hover:text-Accent-300 uppercase transition-all;
}

.navbar {
  @apply flex gap-5;
}
