.DropdownMenuArrow {
  position: relative;

  fill: #171717;
  stroke: #171717;
  stroke-linecap: butt;
  stroke-width: 1px;
}

.DropdownMenuTwoArrow {
  position: relative;
  z-index: 1;
  top: -14px;
  left: 11px;

  fill: #171717;
  stroke-linecap: butt;
  stroke-width: 1px;
}
